body {
    background-color: bisque;
    font-family: "Space Mono", monospace;
}

.navbar {
    background-color: bisque; 
    padding: 10px 0;
    display: flex;
    justify-content: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #82412c;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold; 
}

.navbar a:hover {
    background-color: #71726e;
}


#home {
    padding: 100px 0;
    text-align: center;
    background-size: 200% 200%;
    animation: backgroundAnimation 5s infinite alternate;
    top: 500px;
}
  
.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}
  
.home-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
  
.profile-pic {
    max-width: 100%;
    padding: 10px;
    text-align: center;
}
  
.profile-pic img {
    max-width: 50%;
    height: 100%;
    width: 100%;
    border: 5px solid #82412c;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 400px;
}
  
.home-text {
    max-width: 70%;
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: 350px;
    bottom: 500px;
}
  
.home-text h1 {
    font-size: 24px;
}
  
.home-text p {
    font-size: 16px;
}
  
.contact-button,
.cv-button {
    display: block;
    width: 20%;
    margin: auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #762405;
    border-radius: 5px;
    border-color: #a3310b;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}
  
.contact-button:hover,
.cv-button:hover {
    background-color: #71726e;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.profile-pic img {
    animation: slideInFromRight 1s ease forwards;
}

.home-text {
    animation: fadeInFromBottom 1.5s ease forwards;
}

.about-content {
    padding: 100px 0;
    text-align: center;
    background-size: 200% 200%;
    animation: backgroundAnimation 5s infinite alternate;
    background-color: bisque;
}

.about-text {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.about-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #82412c;
}

.about-text p {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: justify;
}

